In [7]:
#hide
options(jupyter.plot_scale = 3)
options(jupyter.display_mimetypes = c("text/html"))
# options(jupyter.rich_display=FALSE)
options(repr.plot.width=6, repr.plot.height=6, repr.plot.res=300)
options(max.print=1000)

# "R : dataframe, tibble"
> "전북대학교 R입문 12주차 필기"

- toc: true
- branch: master
- badges: true
- comments: true
- author: Kim Jeewoo
- categories: [Introduction to R]
- image: images/r_logo.PNG

In [8]:
library(tidyverse)

# tibble

In [9]:
A = rnorm(10*5)
dim(A) = c(10,5)
A = as_tibble(A)
A

   V1         V2         V3         V4         V5
1  -0.5293959  0.8419212  0.5383570 -0.6655298  0.41472626
2  -1.3061722 -0.2285196  0.6394019  0.7272715 -1.02279757
3   0.2478515  1.5950041  0.5822074 -0.1050912 -0.41785658
4  -1.1055972  0.9361912 -0.1491024 -2.0990920 -0.70840815
5   0.7803821  1.2455383  0.7579811  0.3084466  0.08802281
6  -1.3575121  1.0534576 -1.3763262  1.7299393 -0.52663755
7   1.0180191  0.4227296 -0.9099901  1.1248240 -0.75757808
8  -0.7762945 -0.4015583 -0.9990871 -0.7592615  0.97259692
9   0.2403993  1.0444299 -0.7533604 -0.1306571 -0.79596670
10 -0.5339781 -0.7598847  0.9586425 -2.9451297  0.09814421

In [10]:
colnames(A)

[1] "V1" "V2" "V3" "V4" "V5"

In [16]:
colnames(A) = c("X1", "X2", "X3", "X4", "X5")
A

   X1         X2         X3         X4         X5
1  -0.5293959  0.8419212  0.5383570 -0.6655298  0.41472626
2  -1.3061722 -0.2285196  0.6394019  0.7272715 -1.02279757
3   0.2478515  1.5950041  0.5822074 -0.1050912 -0.41785658
4  -1.1055972  0.9361912 -0.1491024 -2.0990920 -0.70840815
5   0.7803821  1.2455383  0.7579811  0.3084466  0.08802281
6  -1.3575121  1.0534576 -1.3763262  1.7299393 -0.52663755
7   1.0180191  0.4227296 -0.9099901  1.1248240 -0.75757808
8  -0.7762945 -0.4015583 -0.9990871 -0.7592615  0.97259692
9   0.2403993  1.0444299 -0.7533604 -0.1306571 -0.79596670
10 -0.5339781 -0.7598847  0.9586425 -2.9451297  0.09814421

## select

- 특정 열만 return한다.

In [13]:
A %>% select(1:3,5)

   X1         X2         X3         X5
1  -0.5293959  0.8419212  0.5383570  0.41472626
2  -1.3061722 -0.2285196  0.6394019 -1.02279757
3   0.2478515  1.5950041  0.5822074 -0.41785658
4  -1.1055972  0.9361912 -0.1491024 -0.70840815
5   0.7803821  1.2455383  0.7579811  0.08802281
6  -1.3575121  1.0534576 -1.3763262 -0.52663755
7   1.0180191  0.4227296 -0.9099901 -0.75757808
8  -0.7762945 -0.4015583 -0.9990871  0.97259692
9   0.2403993  1.0444299 -0.7533604 -0.79596670
10 -0.5339781 -0.7598847  0.9586425  0.09814421

In [14]:
A %>% select(X1:X3, X5)

   X1         X2         X3         X5
1  -0.5293959  0.8419212  0.5383570  0.41472626
2  -1.3061722 -0.2285196  0.6394019 -1.02279757
3   0.2478515  1.5950041  0.5822074 -0.41785658
4  -1.1055972  0.9361912 -0.1491024 -0.70840815
5   0.7803821  1.2455383  0.7579811  0.08802281
6  -1.3575121  1.0534576 -1.3763262 -0.52663755
7   1.0180191  0.4227296 -0.9099901 -0.75757808
8  -0.7762945 -0.4015583 -0.9990871  0.97259692
9   0.2403993  1.0444299 -0.7533604 -0.79596670
10 -0.5339781 -0.7598847  0.9586425  0.09814421

In [15]:
A %>% select(X1:X3, 5)

   X1         X2         X3         X5
1  -0.5293959  0.8419212  0.5383570  0.41472626
2  -1.3061722 -0.2285196  0.6394019 -1.02279757
3   0.2478515  1.5950041  0.5822074 -0.41785658
4  -1.1055972  0.9361912 -0.1491024 -0.70840815
5   0.7803821  1.2455383  0.7579811  0.08802281
6  -1.3575121  1.0534576 -1.3763262 -0.52663755
7   1.0180191  0.4227296 -0.9099901 -0.75757808
8  -0.7762945 -0.4015583 -0.9990871  0.97259692
9   0.2403993  1.0444299 -0.7533604 -0.79596670
10 -0.5339781 -0.7598847  0.9586425  0.09814421

### select(-c())

- 특정 열을 제외하고 return한다.

In [17]:
A %>% select(-(X1:X3))

   X4         X5
1  -0.6655298  0.41472626
2   0.7272715 -1.02279757
3  -0.1050912 -0.41785658
4  -2.0990920 -0.70840815
5   0.3084466  0.08802281
6   1.7299393 -0.52663755
7   1.1248240 -0.75757808
8  -0.7592615  0.97259692
9  -0.1306571 -0.79596670
10 -2.9451297  0.09814421

### select(...,start_with(~))

- colname이 ~로 시작하는 열을 return한다.

In [20]:
colnames(A) = c("XY1", "XY2", "XZ1", "XZ2", "X5")
A

   XY1        XY2        XZ1        XZ2        X5
1  -0.5293959  0.8419212  0.5383570 -0.6655298  0.41472626
2  -1.3061722 -0.2285196  0.6394019  0.7272715 -1.02279757
3   0.2478515  1.5950041  0.5822074 -0.1050912 -0.41785658
4  -1.1055972  0.9361912 -0.1491024 -2.0990920 -0.70840815
5   0.7803821  1.2455383  0.7579811  0.3084466  0.08802281
6  -1.3575121  1.0534576 -1.3763262  1.7299393 -0.52663755
7   1.0180191  0.4227296 -0.9099901  1.1248240 -0.75757808
8  -0.7762945 -0.4015583 -0.9990871 -0.7592615  0.97259692
9   0.2403993  1.0444299 -0.7533604 -0.1306571 -0.79596670
10 -0.5339781 -0.7598847  0.9586425 -2.9451297  0.09814421

In [21]:
A %>% select(starts_with("XY"))

   XY1        XY2
1  -0.5293959  0.8419212
2  -1.3061722 -0.2285196
3   0.2478515  1.5950041
4  -1.1055972  0.9361912
5   0.7803821  1.2455383
6  -1.3575121  1.0534576
7   1.0180191  0.4227296
8  -0.7762945 -0.4015583
9   0.2403993  1.0444299
10 -0.5339781 -0.7598847

### select(...,ends_with(~))

- colname이 ~로 끝나는 열을 return한다.

In [24]:
A %>% select(ends_with("2"))

   XY2        XZ2
1   0.8419212 -0.6655298
2  -0.2285196  0.7272715
3   1.5950041 -0.1050912
4   0.9361912 -2.0990920
5   1.2455383  0.3084466
6   1.0534576  1.7299393
7   0.4227296  1.1248240
8  -0.4015583 -0.7592615
9   1.0444299 -0.1306571
10 -0.7598847 -2.9451297

### select(...,contains(~))

- colname이 ~를 포함한 열을 return한다.

In [28]:
A %>% select(contains("Z"))

   XZ1        XZ2
1   0.5383570 -0.6655298
2   0.6394019  0.7272715
3   0.5822074 -0.1050912
4  -0.1491024 -2.0990920
5   0.7579811  0.3084466
6  -1.3763262  1.7299393
7  -0.9099901  1.1248240
8  -0.9990871 -0.7592615
9  -0.7533604 -0.1306571
10  0.9586425 -2.9451297

### select(...,everyting())

- colname이 ~를 포함하는 열을 좌측으로 옮긴다.
- everything()이 없는 코드와 다른 점은 ~를 포함하지 않는 열도 출력한다는 점이다.

In [30]:
A %>% select(contains("Z"), everything())

   XZ1        XZ2        XY1        XY2        X5
1   0.5383570 -0.6655298 -0.5293959  0.8419212  0.41472626
2   0.6394019  0.7272715 -1.3061722 -0.2285196 -1.02279757
3   0.5822074 -0.1050912  0.2478515  1.5950041 -0.41785658
4  -0.1491024 -2.0990920 -1.1055972  0.9361912 -0.70840815
5   0.7579811  0.3084466  0.7803821  1.2455383  0.08802281
6  -1.3763262  1.7299393 -1.3575121  1.0534576 -0.52663755
7  -0.9099901  1.1248240  1.0180191  0.4227296 -0.75757808
8  -0.9990871 -0.7592615 -0.7762945 -0.4015583  0.97259692
9  -0.7533604 -0.1306571  0.2403993  1.0444299 -0.79596670
10  0.9586425 -2.9451297 -0.5339781 -0.7598847  0.09814421

## filter

In [34]:
A

   XY1        XY2        XZ1        XZ2        X5
1  -0.5293959  0.8419212  0.5383570 -0.6655298  0.41472626
2  -1.3061722 -0.2285196  0.6394019  0.7272715 -1.02279757
3   0.2478515  1.5950041  0.5822074 -0.1050912 -0.41785658
4  -1.1055972  0.9361912 -0.1491024 -2.0990920 -0.70840815
5   0.7803821  1.2455383  0.7579811  0.3084466  0.08802281
6  -1.3575121  1.0534576 -1.3763262  1.7299393 -0.52663755
7   1.0180191  0.4227296 -0.9099901  1.1248240 -0.75757808
8  -0.7762945 -0.4015583 -0.9990871 -0.7592615  0.97259692
9   0.2403993  1.0444299 -0.7533604 -0.1306571 -0.79596670
10 -0.5339781 -0.7598847  0.9586425 -2.9451297  0.09814421

- 아래 코드는 $X5>0$인 행만 return한다.

In [37]:
A %>% filter(X5>0)

  XY1        XY2        XZ1        XZ2        X5
1 -0.5293959  0.8419212  0.5383570 -0.6655298 0.41472626
2  0.7803821  1.2455383  0.7579811  0.3084466 0.08802281
3 -0.7762945 -0.4015583 -0.9990871 -0.7592615 0.97259692
4 -0.5339781 -0.7598847  0.9586425 -2.9451297 0.09814421

- 아래 코드는 $X5>0$이고$XY2>0$인 행만 return한다.

In [39]:
A %>% filter(X5>0 & XY2 > 0)

  XY1        XY2       XZ1       XZ2        X5
1 -0.5293959 0.8419212 0.5383570 -0.6655298 0.41472626
2  0.7803821 1.2455383 0.7579811  0.3084466 0.08802281

In [40]:
A %>% filter(X5>0 & XY2 > 0) %>% select(contains("XY"))

  XY1        XY2
1 -0.5293959 0.8419212
2  0.7803821 1.2455383

## mutate

- 새로운 열을 추가한다.

In [41]:
A

   XY1        XY2        XZ1        XZ2        X5
1  -0.5293959  0.8419212  0.5383570 -0.6655298  0.41472626
2  -1.3061722 -0.2285196  0.6394019  0.7272715 -1.02279757
3   0.2478515  1.5950041  0.5822074 -0.1050912 -0.41785658
4  -1.1055972  0.9361912 -0.1491024 -2.0990920 -0.70840815
5   0.7803821  1.2455383  0.7579811  0.3084466  0.08802281
6  -1.3575121  1.0534576 -1.3763262  1.7299393 -0.52663755
7   1.0180191  0.4227296 -0.9099901  1.1248240 -0.75757808
8  -0.7762945 -0.4015583 -0.9990871 -0.7592615  0.97259692
9   0.2403993  1.0444299 -0.7533604 -0.1306571 -0.79596670
10 -0.5339781 -0.7598847  0.9586425 -2.9451297  0.09814421

In [45]:
A %>% mutate(X6 = abs(X5), Z7 = X5**2, Z8 = Z7 - mean(Z7))

   XY1        XY2        XZ1        XZ2        X5          X6
1  -0.5293959  0.8419212  0.5383570 -0.6655298  0.41472626 0.41472626
2  -1.3061722 -0.2285196  0.6394019  0.7272715 -1.02279757 1.02279757
3   0.2478515  1.5950041  0.5822074 -0.1050912 -0.41785658 0.41785658
4  -1.1055972  0.9361912 -0.1491024 -2.0990920 -0.70840815 0.70840815
5   0.7803821  1.2455383  0.7579811  0.3084466  0.08802281 0.08802281
6  -1.3575121  1.0534576 -1.3763262  1.7299393 -0.52663755 0.52663755
7   1.0180191  0.4227296 -0.9099901  1.1248240 -0.75757808 0.75757808
8  -0.7762945 -0.4015583 -0.9990871 -0.7592615  0.97259692 0.97259692
9   0.2403993  1.0444299 -0.7533604 -0.1306571 -0.79596670 0.79596670
10 -0.5339781 -0.7598847  0.9586425 -2.9451297  0.09814421 0.09814421
   Z7          Z8
1  0.171997869 -0.26227400
2  1.046114867  0.61184300
3  0.174604124 -0.25966774
4  0.501842114  0.06757025
5  0.007748016 -0.42652385
6  0.277347111 -0.15692476
7  0.573924544  0.13965268
8  0.945944761  0.51167289
9  0.633562985  0.19929112
10 0.009632287 -0.42463958