In [1]:
#hide
options(jupyter.plot_scale = 3)
options(jupyter.display_mimetypes = c("text/html"))
# options(jupyter.rich_display=FALSE)
options(repr.plot.width=6, repr.plot.height=6, repr.plot.res=300)
options(max.print=1000)

# "R : dataframe, tibble"
> "전북대학교 R입문 12주차 필기"

- toc: true
- branch: master
- badges: true
- comments: true
- author: Kim Jeewoo
- categories: [Introduction to R]
- image: images/r_logo.PNG

In [26]:
library(tidyverse)

-- Attaching packages ------------------------------------------------------------------------------- tidyverse 1.3.1 --

v ggplot2 3.3.5     v purrr   0.3.4
v tibble  3.1.5     v dplyr   1.0.7
v tidyr   1.1.4     v stringr 1.4.0
v readr   2.0.2     v forcats 0.5.1

-- Conflicts ---------------------------------------------------------------------------------- tidyverse_conflicts() --
x dplyr::filter() masks stats::filter()
x dplyr::lag()    masks stats::lag()

# tibble

In [3]:
A = rnorm(10*5)
dim(A) = c(10,5)
A = as_tibble(A)
A

Warning message:
"The `x` argument of `as_tibble.matrix()` must have unique column names if `.name_repair` is omitted as of tibble 2.0.0.
Using compatibility `.name_repair`.
This warning is displayed once every 8 hours.
Call `lifecycle::last_lifecycle_warnings()` to see where this warning was generated."

   V1          V2          V3          V4          V5
1   1.36007190 -0.73793104 -0.81053576 -0.22171163 -0.4435196
2   0.53584545  0.09181352  0.58065814  1.69826333 -0.3276056
3   0.90624156  2.85523537 -1.06706911 -0.03372118  1.6288003
4   1.70929906  1.13885998 -0.69105256  0.90800474 -1.5250155
5   0.19758044  0.25588517 -0.09596958  0.19389942  0.6184074
6  -0.91999842 -0.55179290  1.10549004 -1.82995542 -1.3931623
7  -1.60525138 -0.69143779 -0.51414387  1.08352406 -0.9960136
8   0.13403321  1.09364788 -2.41510714 -1.25122594  1.6910696
9  -0.08960615  1.32145228 -0.42417048 -0.86940762 -1.6689878
10  1.80364011 -2.31312123  0.11079088  0.25294523  0.8213772

In [4]:
colnames(A)

[1] "V1" "V2" "V3" "V4" "V5"

In [5]:
colnames(A) = c("X1", "X2", "X3", "X4", "X5")
A

   X1          X2          X3          X4          X5
1   1.36007190 -0.73793104 -0.81053576 -0.22171163 -0.4435196
2   0.53584545  0.09181352  0.58065814  1.69826333 -0.3276056
3   0.90624156  2.85523537 -1.06706911 -0.03372118  1.6288003
4   1.70929906  1.13885998 -0.69105256  0.90800474 -1.5250155
5   0.19758044  0.25588517 -0.09596958  0.19389942  0.6184074
6  -0.91999842 -0.55179290  1.10549004 -1.82995542 -1.3931623
7  -1.60525138 -0.69143779 -0.51414387  1.08352406 -0.9960136
8   0.13403321  1.09364788 -2.41510714 -1.25122594  1.6910696
9  -0.08960615  1.32145228 -0.42417048 -0.86940762 -1.6689878
10  1.80364011 -2.31312123  0.11079088  0.25294523  0.8213772

## select

- 특정 열만 return한다.

In [6]:
A %>% select(1:3,5)

   X1          X2          X3          X5
1   1.36007190 -0.73793104 -0.81053576 -0.4435196
2   0.53584545  0.09181352  0.58065814 -0.3276056
3   0.90624156  2.85523537 -1.06706911  1.6288003
4   1.70929906  1.13885998 -0.69105256 -1.5250155
5   0.19758044  0.25588517 -0.09596958  0.6184074
6  -0.91999842 -0.55179290  1.10549004 -1.3931623
7  -1.60525138 -0.69143779 -0.51414387 -0.9960136
8   0.13403321  1.09364788 -2.41510714  1.6910696
9  -0.08960615  1.32145228 -0.42417048 -1.6689878
10  1.80364011 -2.31312123  0.11079088  0.8213772

In [7]:
A %>% select(X1:X3, X5)

   X1          X2          X3          X5
1   1.36007190 -0.73793104 -0.81053576 -0.4435196
2   0.53584545  0.09181352  0.58065814 -0.3276056
3   0.90624156  2.85523537 -1.06706911  1.6288003
4   1.70929906  1.13885998 -0.69105256 -1.5250155
5   0.19758044  0.25588517 -0.09596958  0.6184074
6  -0.91999842 -0.55179290  1.10549004 -1.3931623
7  -1.60525138 -0.69143779 -0.51414387 -0.9960136
8   0.13403321  1.09364788 -2.41510714  1.6910696
9  -0.08960615  1.32145228 -0.42417048 -1.6689878
10  1.80364011 -2.31312123  0.11079088  0.8213772

In [8]:
A %>% select(X1:X3, 5)

   X1          X2          X3          X5
1   1.36007190 -0.73793104 -0.81053576 -0.4435196
2   0.53584545  0.09181352  0.58065814 -0.3276056
3   0.90624156  2.85523537 -1.06706911  1.6288003
4   1.70929906  1.13885998 -0.69105256 -1.5250155
5   0.19758044  0.25588517 -0.09596958  0.6184074
6  -0.91999842 -0.55179290  1.10549004 -1.3931623
7  -1.60525138 -0.69143779 -0.51414387 -0.9960136
8   0.13403321  1.09364788 -2.41510714  1.6910696
9  -0.08960615  1.32145228 -0.42417048 -1.6689878
10  1.80364011 -2.31312123  0.11079088  0.8213772

### select(-c())

- 특정 열을 제외하고 return한다.

In [9]:
A %>% select(-(X1:X3))

   X4          X5
1  -0.22171163 -0.4435196
2   1.69826333 -0.3276056
3  -0.03372118  1.6288003
4   0.90800474 -1.5250155
5   0.19389942  0.6184074
6  -1.82995542 -1.3931623
7   1.08352406 -0.9960136
8  -1.25122594  1.6910696
9  -0.86940762 -1.6689878
10  0.25294523  0.8213772

### select(...,start_with(~))

- colname이 ~로 시작하는 열을 return한다.

In [10]:
colnames(A) = c("XY1", "XY2", "XZ1", "XZ2", "X5")
A

   XY1         XY2         XZ1         XZ2         X5
1   1.36007190 -0.73793104 -0.81053576 -0.22171163 -0.4435196
2   0.53584545  0.09181352  0.58065814  1.69826333 -0.3276056
3   0.90624156  2.85523537 -1.06706911 -0.03372118  1.6288003
4   1.70929906  1.13885998 -0.69105256  0.90800474 -1.5250155
5   0.19758044  0.25588517 -0.09596958  0.19389942  0.6184074
6  -0.91999842 -0.55179290  1.10549004 -1.82995542 -1.3931623
7  -1.60525138 -0.69143779 -0.51414387  1.08352406 -0.9960136
8   0.13403321  1.09364788 -2.41510714 -1.25122594  1.6910696
9  -0.08960615  1.32145228 -0.42417048 -0.86940762 -1.6689878
10  1.80364011 -2.31312123  0.11079088  0.25294523  0.8213772

In [11]:
A %>% select(starts_with("XY"))

   XY1         XY2
1   1.36007190 -0.73793104
2   0.53584545  0.09181352
3   0.90624156  2.85523537
4   1.70929906  1.13885998
5   0.19758044  0.25588517
6  -0.91999842 -0.55179290
7  -1.60525138 -0.69143779
8   0.13403321  1.09364788
9  -0.08960615  1.32145228
10  1.80364011 -2.31312123

### select(...,ends_with(~))

- colname이 ~로 끝나는 열을 return한다.

In [12]:
A %>% select(ends_with("2"))

   XY2         XZ2
1  -0.73793104 -0.22171163
2   0.09181352  1.69826333
3   2.85523537 -0.03372118
4   1.13885998  0.90800474
5   0.25588517  0.19389942
6  -0.55179290 -1.82995542
7  -0.69143779  1.08352406
8   1.09364788 -1.25122594
9   1.32145228 -0.86940762
10 -2.31312123  0.25294523

### select(...,contains(~))

- colname이 ~를 포함한 열을 return한다.

In [13]:
A %>% select(contains("Z"))

   XZ1         XZ2
1  -0.81053576 -0.22171163
2   0.58065814  1.69826333
3  -1.06706911 -0.03372118
4  -0.69105256  0.90800474
5  -0.09596958  0.19389942
6   1.10549004 -1.82995542
7  -0.51414387  1.08352406
8  -2.41510714 -1.25122594
9  -0.42417048 -0.86940762
10  0.11079088  0.25294523

### select(...,everyting())

- colname이 ~를 포함하는 열을 좌측으로 옮긴다.
- everything()이 없는 코드와 다른 점은 ~를 포함하지 않는 열도 출력한다는 점이다.

In [14]:
A %>% select(contains("Z"), everything())

   XZ1         XZ2         XY1         XY2         X5
1  -0.81053576 -0.22171163  1.36007190 -0.73793104 -0.4435196
2   0.58065814  1.69826333  0.53584545  0.09181352 -0.3276056
3  -1.06706911 -0.03372118  0.90624156  2.85523537  1.6288003
4  -0.69105256  0.90800474  1.70929906  1.13885998 -1.5250155
5  -0.09596958  0.19389942  0.19758044  0.25588517  0.6184074
6   1.10549004 -1.82995542 -0.91999842 -0.55179290 -1.3931623
7  -0.51414387  1.08352406 -1.60525138 -0.69143779 -0.9960136
8  -2.41510714 -1.25122594  0.13403321  1.09364788  1.6910696
9  -0.42417048 -0.86940762 -0.08960615  1.32145228 -1.6689878
10  0.11079088  0.25294523  1.80364011 -2.31312123  0.8213772

## filter

In [15]:
A

   XY1         XY2         XZ1         XZ2         X5
1   1.36007190 -0.73793104 -0.81053576 -0.22171163 -0.4435196
2   0.53584545  0.09181352  0.58065814  1.69826333 -0.3276056
3   0.90624156  2.85523537 -1.06706911 -0.03372118  1.6288003
4   1.70929906  1.13885998 -0.69105256  0.90800474 -1.5250155
5   0.19758044  0.25588517 -0.09596958  0.19389942  0.6184074
6  -0.91999842 -0.55179290  1.10549004 -1.82995542 -1.3931623
7  -1.60525138 -0.69143779 -0.51414387  1.08352406 -0.9960136
8   0.13403321  1.09364788 -2.41510714 -1.25122594  1.6910696
9  -0.08960615  1.32145228 -0.42417048 -0.86940762 -1.6689878
10  1.80364011 -2.31312123  0.11079088  0.25294523  0.8213772

- 아래 코드는 $X5>0$인 행만 return한다.

In [16]:
A %>% filter(X5>0)

  XY1       XY2        XZ1         XZ2         X5
1 0.9062416  2.8552354 -1.06706911 -0.03372118 1.6288003
2 0.1975804  0.2558852 -0.09596958  0.19389942 0.6184074
3 0.1340332  1.0936479 -2.41510714 -1.25122594 1.6910696
4 1.8036401 -2.3131212  0.11079088  0.25294523 0.8213772

- 아래 코드는 $X5>0$이고$XY2>0$인 행만 return한다.

In [17]:
A %>% filter(X5>0 & XY2 > 0)

  XY1       XY2       XZ1         XZ2         X5
1 0.9062416 2.8552354 -1.06706911 -0.03372118 1.6288003
2 0.1975804 0.2558852 -0.09596958  0.19389942 0.6184074
3 0.1340332 1.0936479 -2.41510714 -1.25122594 1.6910696

In [18]:
A %>% filter(X5>0 & XY2 > 0) %>% select(contains("XY"))

  XY1       XY2
1 0.9062416 2.8552354
2 0.1975804 0.2558852
3 0.1340332 1.0936479

## mutate

- 새로운 열을 추가한다.

In [19]:
A

   XY1         XY2         XZ1         XZ2         X5
1   1.36007190 -0.73793104 -0.81053576 -0.22171163 -0.4435196
2   0.53584545  0.09181352  0.58065814  1.69826333 -0.3276056
3   0.90624156  2.85523537 -1.06706911 -0.03372118  1.6288003
4   1.70929906  1.13885998 -0.69105256  0.90800474 -1.5250155
5   0.19758044  0.25588517 -0.09596958  0.19389942  0.6184074
6  -0.91999842 -0.55179290  1.10549004 -1.82995542 -1.3931623
7  -1.60525138 -0.69143779 -0.51414387  1.08352406 -0.9960136
8   0.13403321  1.09364788 -2.41510714 -1.25122594  1.6910696
9  -0.08960615  1.32145228 -0.42417048 -0.86940762 -1.6689878
10  1.80364011 -2.31312123  0.11079088  0.25294523  0.8213772

In [20]:
A %>% mutate(X6 = abs(X5), Z7 = X5**2, Z8 = Z7 - mean(Z7))

   XY1         XY2         XZ1         XZ2         X5         X6
1   1.36007190 -0.73793104 -0.81053576 -0.22171163 -0.4435196 0.4435196
2   0.53584545  0.09181352  0.58065814  1.69826333 -0.3276056 0.3276056
3   0.90624156  2.85523537 -1.06706911 -0.03372118  1.6288003 1.6288003
4   1.70929906  1.13885998 -0.69105256  0.90800474 -1.5250155 1.5250155
5   0.19758044  0.25588517 -0.09596958  0.19389942  0.6184074 0.6184074
6  -0.91999842 -0.55179290  1.10549004 -1.82995542 -1.3931623 1.3931623
7  -1.60525138 -0.69143779 -0.51414387  1.08352406 -0.9960136 0.9960136
8   0.13403321  1.09364788 -2.41510714 -1.25122594  1.6910696 1.6910696
9  -0.08960615  1.32145228 -0.42417048 -0.86940762 -1.6689878 1.6689878
10  1.80364011 -2.31312123  0.11079088  0.25294523  0.8213772 0.8213772
   Z7        Z8
1  0.1967096 -1.2950871
2  0.1073254 -1.3844713
3  2.6529903  1.1611936
4  2.3256722  0.8338755
5  0.3824277 -1.1093690
6  1.9409013  0.4491046
7  0.9920430 -0.4997536
8  2.8597164  1.3679197
9  2.7855204  1.2937237
10 0.6746605 -0.8171362

## group_by()

In [21]:
sex = c("M", "M", "M", "F", "F", "F", "F")
value = c(1, 2, 3, 10, 20, 30, 40)

In [22]:
df = tibble(sex, value)
df

  sex value
1 M    1
2 M    2
3 M    3
4 F   10
5 F   20
6 F   30
7 F   40

In [23]:
df %>% group_by(sex) %>% summarise(mean_value = mean(value))

  sex mean_value
1 F   25
2 M    2

- 그룹별로 묶은 다음에 평균을 계산한다.

 - `summarise`에 사용할 수 있는 함수는 평균과 같이 $n$개의 벡터가 입력으로 올 때 하나의 스칼라를 return하는 함수이다.

## NA

- NA는 신중하게 다루자.

- NA가 포함되어도 개별연산은 가능하다.

In [24]:
x = c(1,2,NA,3,4)
x

[1]  1  2 NA  3  4

In [25]:
x+1

[1]  2  3 NA  4  5

In [26]:
x**2

[1]  1  4 NA  9 16

- 개별연산이 아닌 연산은 불가능하다.

- 예를 들면 평균연산

In [27]:
mean(x)

[1] NA

In [28]:
sum(x)

[1] NA

In [29]:
max(x)

[1] NA

### na.rm=TRUE

- 개별연산이 아닌 연산에도 사용하고 싶다면 `na.rm=TRUE` 옵션을 사용한다.

- `na.rm=TRUE` 옵션을 주면 `NA`를 제외하고 연산한다.

In [30]:
mean(x, na.rm=TRUE)

[1] 2.5

In [31]:
max(x, na.rm=TRUE)

[1] 4

In [32]:
tibble(x) %>% mutate(y = x+1)

  x  y
1  1  2
2  2  3
3 NA NA
4  3  4
5  4  5

In [33]:
tibble(x) %>% mutate(z=mean(x))

  x  z
1  1 NA
2  2 NA
3 NA NA
4  3 NA
5  4 NA

In [34]:
tibble(x) %>% summarise(z=mean(x))

  z
1 NA

In [35]:
tibble(x) %>% summarise(z=mean(x, na.rm=TRUE))

  z
1 2.5

In [36]:
x = c(1,2,3,4,NA,5,6,7)
y = c(-1,-2,-3,-4,77,-5,-6,-7)
tibble(x,y)

  x  y
1  1 -1
2  2 -2
3  3 -3
4  4 -4
5 NA 77
6  5 -5
7  6 -6
8  7 -7

### is.na()

In [37]:
tibble(x,y) %>% filter(x>3&x<7)

  x y
1 4 -4
2 5 -5
3 6 -6

In [38]:
tibble(x,y) %>% filter(x<3|x>7)

  x y
1 1 -1
2 2 -2

- NA는 실수가 아니기에 그냥 사라져 버린다.

- 조금 억울한데?

- `is.na`를 사용하면 `NA`가 `TRUE`로 처리된다.

In [39]:
x

[1]  1  2  3  4 NA  5  6  7

In [40]:
is.na(x)

[1] FALSE FALSE FALSE FALSE  TRUE FALSE FALSE FALSE

In [41]:
tibble(x,y) %>% filter(is.na(x) | (x>3&x<7))

  x  y
1  4 -4
2 NA 77
3  5 -5
4  6 -6

# Application

In [42]:
install.packages("nycflights13")

package 'nycflights13' successfully unpacked and MD5 sums checked

The downloaded binary packages are in
	C:\Users\user\AppData\Local\Temp\Rtmp2LjT0v\downloaded_packages

In [43]:
library(nycflights13)

In [44]:
df = flights
df

       year month day dep_time sched_dep_time dep_delay arr_time sched_arr_time
1      2013 1     1   517      515             2         830      819
2      2013 1     1   533      529             4         850      830
3      2013 1     1   542      540             2         923      850
4      2013 1     1   544      545            -1        1004     1022
5      2013 1     1   554      600            -6         812      837
6      2013 1     1   554      558            -4         740      728
7      2013 1     1   555      600            -5         913      854
8      2013 1     1   557      600            -3         709      723
9      2013 1     1   557      600            -3         838      846
10     2013 1     1   558      600            -2         753      745
11     2013 1     1   558      600            -2         849      851
12     2013 1     1   558      600            -2         853      856
13     2013 1     1   558      600            -2         924      917
14     2013 1     1   558      600            -2         923      937
15     2013 1     1   559      600            -1         941      910
16     2013 1     1   559      559             0         702      706
17     2013 1     1   559      600            -1         854      902
18     2013 1     1   600      600             0         851      858
19     2013 1     1   600      600             0         837      825
20     2013 1     1   601      600             1         844      850
21     2013 1     1   602      610            -8         812      820
22     2013 1     1   602      605            -3         821      805
23     2013 1     1   606      610            -4         858      910
24     2013 1     1   606      610            -4         837      845
25     2013 1     1   607      607             0         858      915
26     2013 1     1   608      600             8         807      735
27     2013 1     1   611      600            11         945      931
28     2013 1     1   613      610             3         925      921
29     2013 1     1   615      615             0        1039     1100
30     2013 1     1   615      615             0         833      842
<U+22EE>      <U+22EE> <U+22EE> <U+22EE> <U+22EE> <U+22EE>       <U+22EE>  <U+22EE> <U+22EE>
336747 2013 9     30  2123     2125            -2       2223     2247
336748 2013 9     30  2127     2129            -2       2314     2323
336749 2013 9     30  2128     2130            -2       2328     2359
336750 2013 9     30  2129     2059            30       2230     2232
336751 2013 9     30  2131     2140            -9       2225     2255
336752 2013 9     30  2140     2140             0         10       40
336753 2013 9     30  2142     2129            13       2250     2239
336754 2013 9     30  2145     2145             0        115      140
336755 2013 9     30  2147     2137            10         30       27
336756 2013 9     30  2149     2156            -7       2245     2308
336757 2013 9     30  2150     2159            -9       2250     2306
336758 2013 9     30  2159     1845           194       2344     2030
336759 2013 9     30  2203     2205            -2       2339     2331
336760 2013 9     30  2207     2140            27       2257     2250
336761 2013 9     30  2211     2059            72       2339     2242
336762 2013 9     30  2231     2245           -14       2335     2356
336763 2013 9     30  2233     2113            80        112       30
336764 2013 9     30  2235     2001           154         59     2249
336765 2013 9     30  2237     2245            -8       2345     2353
336766 2013 9     30  2240     2245            -5       2334     2351
336767 2013 9     30  2240     2250           -10       2347        7
       arr_delay carrier flight tailnum origin dest air_time distance hour
1       11       UA      1545   N14228  EWR    IAH  227      1400     5
2       20       UA      1714   N24211  LGA    IAH  227      1416     5
3       33       AA      1141   N619AA  JFK    MIA  160      1089     5
4      -18       B6       725   N804JB  JFK    BQN  183      1576     5
5      -25       DL       461   N668DN  LGA    ATL  116       762     6
6       12       UA      1696   N39463  EWR    ORD  150       719     5
7       19       B6       507   N516JB  EWR    FLL  158      1065     6
8      -14       EV      5708   N829AS  LGA    IAD   53       229     6
9       -8       B6        79   N593JB  JFK    MCO  140       944     6
10       8       AA       301   N3ALAA  LGA    ORD  138       733     6
11      -2       B6        49   N793JB  JFK    PBI  149      1028     6
12      -3       B6        71   N657JB  JFK    TPA  158      1005     6
13       7       UA       194   N29129  JFK    LAX  345      2475     6
14     -14       UA      1124   N53441  EWR    SFO  361      2565     6
15      31       AA       707   N3DUAA  LGA    DFW  257      1389     6
16      -4       B6      1806   N708JB  JFK    BOS   44       187     5
17      -8       UA      1187   N76515  EWR    LAS  337      2227     6
18      -7       B6       371   N595JB  LGA    FLL  152      1076     6
19      12       MQ      4650   N542MQ  LGA    ATL  134       762     6
20      -6       B6       343   N644JB  EWR    PBI  147      1023     6
21      -8       DL      1919   N971DL  LGA    MSP  170      1020     6
22      16       MQ      4401   N730MQ  LGA    DTW  105       502     6
23     -12       AA      1895   N633AA  EWR    MIA  152      1085     6
24      -8       DL      1743   N3739P  JFK    ATL  128       760     6
25     -17       UA      1077   N53442  EWR    MIA  157      1085     6
26      32       MQ      3768   N9EAMQ  EWR    ORD  139       719     6
27      14       UA       303   N532UA  JFK    SFO  366      2586     6
28       4       B6       135   N635JB  JFK    RSW  175      1074     6
29     -21       B6       709   N794JB  JFK    SJU  182      1598     6
30      -9       DL       575   N326NB  EWR    ATL  120       746     6
<U+22EE>      <U+22EE>  <U+22EE> <U+22EE> <U+22EE> <U+22EE> <U+22EE> <U+22EE> <U+22EE> <U+22EE>
336747 -24       EV      5489   N712EV  LGA    CHO   45       305     21
336748  -9       EV      3833   N16546  EWR    CLT   72       529     21
336749 -31       B6        97   N807JB  JFK    DEN  213      1626     21
336750  -2       EV      5048   N751EV  LGA    RIC   45       292     20
336751 -30       MQ      3621   N807MQ  JFK    DCA   36       213     21
336752 -30       AA       185   N335AA  JFK    LAX  298      2475     21
336753  11       EV      4509   N12957  EWR    PWM   47       284     21
336754 -25       B6      1103   N633JB  JFK    SJU  192      1598     21
336755   3       B6      1371   N627JB  LGA    FLL  139      1076     21
336756 -23       UA       523   N813UA  EWR    BOS   37       200     21
336757 -16       EV      3842   N10575  EWR    MHT   39       209     21
336758 194       9E      3320   N906XJ  JFK    BUF   50       301     18
336759   8       EV      5311   N722EV  LGA    BGR   61       378     22
336760   7       MQ      3660   N532MQ  LGA    BNA   97       764     21
336761  57       EV      4672   N12145  EWR    STL  120       872     20
336762 -21       B6       108   N193JB  JFK    PWM   48       273     22
336763  42       UA       471   N578UA  EWR    SFO  318      2565     21
336764 130       B6      1083   N804JB  JFK    MCO  123       944     20
336765  -8       B6       234   N318JB  JFK    BTV   43       266     22
336766 -17       B6      1816   N354JB  JFK    SYR   41       209     22
336767 -20       B6      2002   N281JB  JFK    BUF   52       301     22
       minute time_hour
1      15     2013-01-01 05:00:00
2      29     2013-01-01 05:00:00
3      40     2013-01-01 05:00:00
4      45     2013-01-01 05:00:00
5       0     2013-01-01 06:00:00
6      58     2013-01-01 05:00:00
7       0     2013-01-01 06:00:00
8       0     2013-01-01 06:00:00
9       0     2013-01-01 06:00:00
10      0     2013-01-01 06:00:00
11      0     2013-01-01 06:00:00
12      0     2013-01-01 06:00:00
13      0     2013-01-01 06:00:00
14      0     2013-01-01 06:00:00
15      0     2013-01-01 06:00:00
16     59     2013-01-01 05:00:00
17      0     2013-01-01 06:00:00
18      0     2013-01-01 06:00:00
19      0     2013-01-01 06:00:00
20      0     2013-01-01 06:00:00
21     10     2013-01-01 06:00:00
22      5     2013-01-01 06:00:00
23     10     2013-01-01 06:00:00
24     10     2013-01-01 06:00:00
25      7     2013-01-01 06:00:00
26      0     2013-01-01 06:00:00
27      0     2013-01-01 06:00:00
28     10     2013-01-01 06:00:00
29     15     2013-01-01 06:00:00
30     15     2013-01-01 06:00:00
<U+22EE>      <U+22EE> <U+22EE>
336747 25     2013-09-30 21:00:00
336748 29     2013-09-30 21:00:00
336749 30     2013-09-30 21:00:00
336750 59     2013-09-30 20:00:00
336751 40     2013-09-30 21:00:00
336752 40     2013-09-30 21:00:00
336753 29     2013-09-30 21:00:00
336754 45     2013-09-30 21:00:00
336755 37     2013-09-30 21:00:00
336756 56     2013-09-30 21:00:00
336757 59     2013-09-30 21:00:00
336758 45     2013-09-30 18:00:00
336759  5     2013-09-30 22:00:00
336760 40     2013-09-30 21:00:00
336761 59     2013-09-30 20:00:00
336762 45     2013-09-30 22:00:00
336763 13     2013-09-30 21:00:00
336764  1     2013-09-30 20:00:00
336765 45     2013-09-30 22:00:00
336766 45     2013-09-30 22:00:00
336767 50     2013-09-30 22:00:00
 [ getOption("max.print") 에 도달했습니다 -- 9 행들을 생략합니다 ]

## 1월 1일에 출발하는 항공편을 선택하고 싶다.

In [45]:
df %>% filter(month==1&day==1)

    year month day dep_time sched_dep_time dep_delay arr_time sched_arr_time
1   2013 1     1   517      515             2         830      819
2   2013 1     1   533      529             4         850      830
3   2013 1     1   542      540             2         923      850
4   2013 1     1   544      545            -1        1004     1022
5   2013 1     1   554      600            -6         812      837
6   2013 1     1   554      558            -4         740      728
7   2013 1     1   555      600            -5         913      854
8   2013 1     1   557      600            -3         709      723
9   2013 1     1   557      600            -3         838      846
10  2013 1     1   558      600            -2         753      745
11  2013 1     1   558      600            -2         849      851
12  2013 1     1   558      600            -2         853      856
13  2013 1     1   558      600            -2         924      917
14  2013 1     1   558      600            -2         923      937
15  2013 1     1   559      600            -1         941      910
16  2013 1     1   559      559             0         702      706
17  2013 1     1   559      600            -1         854      902
18  2013 1     1   600      600             0         851      858
19  2013 1     1   600      600             0         837      825
20  2013 1     1   601      600             1         844      850
21  2013 1     1   602      610            -8         812      820
22  2013 1     1   602      605            -3         821      805
23  2013 1     1   606      610            -4         858      910
24  2013 1     1   606      610            -4         837      845
25  2013 1     1   607      607             0         858      915
26  2013 1     1   608      600             8         807      735
27  2013 1     1   611      600            11         945      931
28  2013 1     1   613      610             3         925      921
29  2013 1     1   615      615             0        1039     1100
30  2013 1     1   615      615             0         833      842
<U+22EE>   <U+22EE> <U+22EE> <U+22EE> <U+22EE> <U+22EE>       <U+22EE>  <U+22EE> <U+22EE>
813 2013 1     1   2140     2135             5        210      224
814 2013 1     1   2157     2155             2         43       41
815 2013 1     1   2158     2200            -2       2254     2307
816 2013 1     1   2205     1720           285         46     2040
817 2013 1     1   2209     2145            24         58       37
818 2013 1     1   2209     2155            14       2400     2337
819 2013 1     1   2211     2145            26       2339     2311
820 2013 1     1   2217     2229           -12        249      315
821 2013 1     1   2217     2130            47        140       27
822 2013 1     1   2221     2000           141       2331     2124
823 2013 1     1   2224     2200            24       2324     2316
824 2013 1     1   2229     2159            30        149      100
825 2013 1     1   2240     2245            -5       2340     2356
826 2013 1     1   2250     2255            -5       2352     2359
827 2013 1     1   2302     2200            62       2342     2253
828 2013 1     1   2306     2245            21         28        5
829 2013 1     1   2307     2245            22         32     2357
830 2013 1     1   2310     2255            15         24       15
831 2013 1     1   2312     2000           192         21     2110
832 2013 1     1   2323     2200            83         22     2313
833 2013 1     1   2326     2130           116        131       18
    arr_delay carrier flight tailnum origin dest air_time distance hour minute
1    11       UA      1545   N14228  EWR    IAH  227      1400     5    15
2    20       UA      1714   N24211  LGA    IAH  227      1416     5    29
3    33       AA      1141   N619AA  JFK    MIA  160      1089     5    40
4   -18       B6       725   N804JB  JFK    BQN  183      1576     5    45
5   -25       DL       461   N668DN  LGA    ATL  116       762     6     0
6    12       UA      1696   N39463  EWR    ORD  150       719     5    58
7    19       B6       507   N516JB  EWR    FLL  158      1065     6     0
8   -14       EV      5708   N829AS  LGA    IAD   53       229     6     0
9    -8       B6        79   N593JB  JFK    MCO  140       944     6     0
10    8       AA       301   N3ALAA  LGA    ORD  138       733     6     0
11   -2       B6        49   N793JB  JFK    PBI  149      1028     6     0
12   -3       B6        71   N657JB  JFK    TPA  158      1005     6     0
13    7       UA       194   N29129  JFK    LAX  345      2475     6     0
14  -14       UA      1124   N53441  EWR    SFO  361      2565     6     0
15   31       AA       707   N3DUAA  LGA    DFW  257      1389     6     0
16   -4       B6      1806   N708JB  JFK    BOS   44       187     5    59
17   -8       UA      1187   N76515  EWR    LAS  337      2227     6     0
18   -7       B6       371   N595JB  LGA    FLL  152      1076     6     0
19   12       MQ      4650   N542MQ  LGA    ATL  134       762     6     0
20   -6       B6       343   N644JB  EWR    PBI  147      1023     6     0
21   -8       DL      1919   N971DL  LGA    MSP  170      1020     6    10
22   16       MQ      4401   N730MQ  LGA    DTW  105       502     6     5
23  -12       AA      1895   N633AA  EWR    MIA  152      1085     6    10
24   -8       DL      1743   N3739P  JFK    ATL  128       760     6    10
25  -17       UA      1077   N53442  EWR    MIA  157      1085     6     7
26   32       MQ      3768   N9EAMQ  EWR    ORD  139       719     6     0
27   14       UA       303   N532UA  JFK    SFO  366      2586     6     0
28    4       B6       135   N635JB  JFK    RSW  175      1074     6    10
29  -21       B6       709   N794JB  JFK    SJU  182      1598     6    15
30   -9       DL       575   N326NB  EWR    ATL  120       746     6    15
<U+22EE>   <U+22EE>  <U+22EE> <U+22EE> <U+22EE> <U+22EE> <U+22EE> <U+22EE> <U+22EE> <U+22EE> <U+22EE>
813 -14       B6       701   N284JB  JFK    SJU  189      1598     21   35
814   2       B6        43   N537JB  JFK    MCO  140       944     21   55
815 -13       EV      4103   N14998  EWR    BWI   36       169     22    0
816 246       AA      1999   N5DNAA  EWR    MIA  146      1085     17   20
817  21       B6        35   N608JB  JFK    PBI  143      1028     21   45
818  23       B6      1109   N216JB  JFK    RDU   86       427     21   55
819  28       B6       104   N228JB  JFK    BUF   64       301     21   45
820 -26       B6       713   N547JB  JFK    SJU  191      1598     22   29
821  73       B6        21   N516JB  JFK    TPA  163      1005     21   30
822 127       EV      4462   N13566  EWR    BUF   56       282     20    0
823   8       EV      4206   N16561  EWR    PWM   47       284     22    0
824  49       B6        11   N531JB  JFK    FLL  153      1069     21   59
825 -16       B6       608   N279JB  JFK    PWM   44       273     22   45
826  -7       B6      1018   N521JB  JFK    BOS   37       187     22   55
827  49       EV      4276   N13903  EWR    BDL   24       116     22    0
828  23       B6        30   N281JB  JFK    ROC   59       264     22   45
829  35       B6       128   N178JB  JFK    BTV   59       266     22   45
830   9       B6       112   N646JB  JFK    BUF   57       301     22   55
831 191       EV      4312   N13958  EWR    DCA   44       199     20    0
832  69       EV      4257   N13538  EWR    BTV   44       266     22    0
833  73       B6       199   N594JB  JFK    LAS  290      2248     21   30
    time_hour
1   2013-01-01 05:00:00
2   2013-01-01 05:00:00
3   2013-01-01 05:00:00
4   2013-01-01 05:00:00
5   2013-01-01 06:00:00
6   2013-01-01 05:00:00
7   2013-01-01 06:00:00
8   2013-01-01 06:00:00
9   2013-01-01 06:00:00
10  2013-01-01 06:00:00
11  2013-01-01 06:00:00
12  2013-01-01 06:00:00
13  2013-01-01 06:00:00
14  2013-01-01 06:00:00
15  2013-01-01 06:00:00
16  2013-01-01 05:00:00
17  2013-01-01 06:00:00
18  2013-01-01 06:00:00
19  2013-01-01 06:00:00
20  2013-01-01 06:00:00
21  2013-01-01 06:00:00
22  2013-01-01 06:00:00
23  2013-01-01 06:00:00
24  2013-01-01 06:00:00
25  2013-01-01 06:00:00
26  2013-01-01 06:00:00
27  2013-01-01 06:00:00
28  2013-01-01 06:00:00
29  2013-01-01 06:00:00
30  2013-01-01 06:00:00
<U+22EE>   <U+22EE>
813 2013-01-01 21:00:00
814 2013-01-01 21:00:00
815 2013-01-01 22:00:00
816 2013-01-01 17:00:00
817 2013-01-01 21:00:00
818 2013-01-01 21:00:00
819 2013-01-01 21:00:00
820 2013-01-01 22:00:00
821 2013-01-01 21:00:00
822 2013-01-01 20:00:00
823 2013-01-01 22:00:00
824 2013-01-01 21:00:00
825 2013-01-01 22:00:00
826 2013-01-01 22:00:00
827 2013-01-01 22:00:00
828 2013-01-01 22:00:00
829 2013-01-01 22:00:00
830 2013-01-01 22:00:00
831 2013-01-01 20:00:00
832 2013-01-01 22:00:00
833 2013-01-01 21:00:00
 [ getOption("max.print") 에 도달했습니다 -- 9 행들을 생략합니다 ]

## 11월 또는 12월에 출발하는 항공편을 선택하고 싶다.

In [46]:
df %>% filter(month==11|month==12)

      year month day dep_time sched_dep_time dep_delay arr_time sched_arr_time
1     2013 11    1     5      2359             6       352       345
2     2013 11    1    35      2250           105       123      2356
3     2013 11    1   455       500            -5       641       651
4     2013 11    1   539       545            -6       856       827
5     2013 11    1   542       545            -3       831       855
6     2013 11    1   549       600           -11       912       923
7     2013 11    1   550       600           -10       705       659
8     2013 11    1   554       600            -6       659       701
9     2013 11    1   554       600            -6       826       827
10    2013 11    1   554       600            -6       749       751
11    2013 11    1   555       600            -5       847       854
12    2013 11    1   555       600            -5       839       846
13    2013 11    1   555       600            -5       929       943
14    2013 11    1   556       600            -4       834       851
15    2013 11    1   558       600            -2       727       730
16    2013 11    1   558       600            -2       650       658
17    2013 11    1   558       600            -2       914       905
18    2013 11    1   558       600            -2       720       715
19    2013 11    1   559       600            -1       756       730
20    2013 11    1   600       600             0       709       716
21    2013 11    1   600       600             0       725       721
22    2013 11    1   601       600             1       853       856
23    2013 11    1   601       610            -9       803       813
24    2013 11    1   602       600             2       843       815
25    2013 11    1   603       600             3       717       711
26    2013 11    1   604       610            -6       855       855
27    2013 11    1   606       615            -9       746       750
28    2013 11    1   606       615            -9       807       817
29    2013 11    1   606       610            -4       752       745
30    2013 11    1   607       611            -4       857       912
<U+22EE>     <U+22EE> <U+22EE> <U+22EE> <U+22EE> <U+22EE>       <U+22EE>  <U+22EE> <U+22EE>
55374 2013 12    31  2155     2039            76        253     2355
55375 2013 12    31  2155     2150             5        110       51
55376 2013 12    31  2159     2155             4         55       46
55377 2013 12    31  2206     2110            56         44     2339
55378 2013 12    31  2211     2159            12        100       45
55379 2013 12    31  2218     2219            -1        315      304
55380 2013 12    31  2235     2245           -10       2351     2355
55381 2013 12    31  2245     2250            -5       2359     2356
55382 2013 12    31  2310     2255            15          7     2356
55383 2013 12    31  2321     2250            31         46        8
55384 2013 12    31  2328     2330            -2        412      409
55385 2013 12    31  2332     2245            47         58        3
55386 2013 12    31  2355     2359            -4        430      440
55387 2013 12    31  2356     2359            -3        436      445
55388 2013 12    31    NA     1520            NA         NA     1705
55389 2013 12    31    NA     2025            NA         NA     2205
55390 2013 12    31    NA     1932            NA         NA     2305
55391 2013 12    31    NA     1505            NA         NA     1725
55392 2013 12    31    NA     1000            NA         NA     1252
55393 2013 12    31    NA      840            NA         NA     1205
55394 2013 12    31    NA      754            NA         NA     1118
      arr_delay carrier flight tailnum origin dest air_time distance hour
1       7       B6       745   N568JB  JFK    PSE  205      1617     23
2      87       B6      1816   N353JB  JFK    SYR   36       209     22
3     -10       US      1895   N192UW  EWR    CLT   88       529      5
4      29       UA      1714   N38727  LGA    IAH  229      1416      5
5     -24       AA      2243   N5CLAA  JFK    MIA  147      1089      5
6     -11       UA       303   N595UA  JFK    SFO  359      2586      6
7       6       US      2167   N748UW  LGA    DCA   57       214      6
8      -2       US      2134   N742PS  LGA    BOS   40       184      6
9      -1       DL       563   N912DE  LGA    ATL  126       762      6
10     -2       DL       731   N315NB  LGA    DTW   93       502      6
11     -7       B6       605   N640JB  EWR    FLL  149      1065      6
12     -7       B6       583   N661JB  JFK    MCO  136       944      6
13    -14       B6      1403   N746JB  JFK    SJU  196      1598      6
14    -17       UA       407   N834UA  EWR    TPA  142       997      6
15     -3       UA       279   N459UA  EWR    ORD  118       719      6
16     -8       US      1909   N950UW  LGA    PHL   38        96      6
17      9       AA      1175   N3GHAA  LGA    MIA  155      1096      6
18      5       WN       464   N390SW  EWR    MDW  117       711      6
19     26       AA       301   N4YHAA  LGA    ORD  119       733      6
20     -7       EV      5716   N820AS  JFK    IAD   49       228      6
21      4       UA      1198   N23707  LGA    ORD  121       733      6
22     -3       B6       371   N570JB  LGA    FLL  150      1076      6
23    -10       DL      1919   N922DL  LGA    MSP  153      1020      6
24     28       FL       345   N353AT  LGA    ATL  131       762      6
25      6       EV      4533   N11109  EWR    BUF   53       282      6
26      0       AA      1103   N3FTAA  LGA    DFW  205      1389      6
27     -4       MQ      3525   N834MQ  LGA    RDU   74       431      6
28    -10       US      1899   N199UW  JFK    CLT   93       541      6
29      7       WN      2609   N440LV  LGA    STL  142       888      6
30    -15       B6       601   N597JB  JFK    FLL  149      1069      6
<U+22EE>     <U+22EE>  <U+22EE> <U+22EE> <U+22EE> <U+22EE> <U+22EE> <U+22EE> <U+22EE> <U+22EE>
55374  NA       B6      1205   N627JB  JFK    PDX   NA      2454     20
55375  19       B6      1901   N729JB  JFK    FLL  164      1069     21
55376   9       B6      2053   N593JB  JFK    PBI  155      1028     21
55377  65       B6       775   N184JB  JFK    MSY  195      1182     21
55378  15       B6      1183   N715JB  JFK    MCO  148       944     21
55379  11       B6      1203   N625JB  JFK    SJU  202      1598     22
55380  -4       B6       234   N355JB  JFK    BTV   49       266     22
55381   3       B6      1816   N318JB  JFK    SYR   51       209     22
55382  11       B6       718   N279JB  JFK    BOS   40       187     22
55383  38       B6      2002   N179JB  JFK    BUF   66       301     22
55384   3       B6      1389   N651JB  EWR    SJU  198      1608     23
55385  55       B6       486   N334JB  JFK    ROC   60       264     22
55386 -10       B6      1503   N509JB  JFK    SJU  195      1598     23
55387  -9       B6       745   N665JB  JFK    PSE  200      1617     23
55388  NA       AA       341   N568AA  LGA    ORD   NA       733     15
55389  NA       AA       371   N482AA  LGA    ORD   NA       733     20
55390  NA       B6       161   N516JB  JFK    SMF   NA      2521     19
55391  NA       EV      4181   N24103  EWR    MCI   NA      1092     15
55392  NA       UA      1124   NA      EWR    EGE   NA      1725     10
55393  NA       UA      1151   NA      EWR    SEA   NA      2402      8
55394  NA       UA      1455   NA      EWR    LAX   NA      2454      7
      minute time_hour
1     59     2013-11-01 23:00:00
2     50     2013-11-01 22:00:00
3      0     2013-11-01 05:00:00
4     45     2013-11-01 05:00:00
5     45     2013-11-01 05:00:00
6      0     2013-11-01 06:00:00
7      0     2013-11-01 06:00:00
8      0     2013-11-01 06:00:00
9      0     2013-11-01 06:00:00
10     0     2013-11-01 06:00:00
11     0     2013-11-01 06:00:00
12     0     2013-11-01 06:00:00
13     0     2013-11-01 06:00:00
14     0     2013-11-01 06:00:00
15     0     2013-11-01 06:00:00
16     0     2013-11-01 06:00:00
17     0     2013-11-01 06:00:00
18     0     2013-11-01 06:00:00
19     0     2013-11-01 06:00:00
20     0     2013-11-01 06:00:00
21     0     2013-11-01 06:00:00
22     0     2013-11-01 06:00:00
23    10     2013-11-01 06:00:00
24     0     2013-11-01 06:00:00
25     0     2013-11-01 06:00:00
26    10     2013-11-01 06:00:00
27    15     2013-11-01 06:00:00
28    15     2013-11-01 06:00:00
29    10     2013-11-01 06:00:00
30    11     2013-11-01 06:00:00
<U+22EE>     <U+22EE> <U+22EE>
55374 39     2013-12-31 20:00:00
55375 50     2013-12-31 21:00:00
55376 55     2013-12-31 21:00:00
55377 10     2013-12-31 21:00:00
55378 59     2013-12-31 21:00:00
55379 19     2013-12-31 22:00:00
55380 45     2013-12-31 22:00:00
55381 50     2013-12-31 22:00:00
55382 55     2013-12-31 22:00:00
55383 50     2013-12-31 22:00:00
55384 30     2013-12-31 23:00:00
55385 45     2013-12-31 22:00:00
55386 59     2013-12-31 23:00:00
55387 59     2013-12-31 23:00:00
55388 20     2013-12-31 15:00:00
55389 25     2013-12-31 20:00:00
55390 32     2013-12-31 19:00:00
55391  5     2013-12-31 15:00:00
55392  0     2013-12-31 10:00:00
55393 40     2013-12-31 08:00:00
55394 54     2013-12-31 07:00:00
 [ getOption("max.print") 에 도달했습니다 -- 9 행들을 생략합니다 ]

In [47]:
df %>% filter(month %in% c(11,12))

      year month day dep_time sched_dep_time dep_delay arr_time sched_arr_time
1     2013 11    1     5      2359             6       352       345
2     2013 11    1    35      2250           105       123      2356
3     2013 11    1   455       500            -5       641       651
4     2013 11    1   539       545            -6       856       827
5     2013 11    1   542       545            -3       831       855
6     2013 11    1   549       600           -11       912       923
7     2013 11    1   550       600           -10       705       659
8     2013 11    1   554       600            -6       659       701
9     2013 11    1   554       600            -6       826       827
10    2013 11    1   554       600            -6       749       751
11    2013 11    1   555       600            -5       847       854
12    2013 11    1   555       600            -5       839       846
13    2013 11    1   555       600            -5       929       943
14    2013 11    1   556       600            -4       834       851
15    2013 11    1   558       600            -2       727       730
16    2013 11    1   558       600            -2       650       658
17    2013 11    1   558       600            -2       914       905
18    2013 11    1   558       600            -2       720       715
19    2013 11    1   559       600            -1       756       730
20    2013 11    1   600       600             0       709       716
21    2013 11    1   600       600             0       725       721
22    2013 11    1   601       600             1       853       856
23    2013 11    1   601       610            -9       803       813
24    2013 11    1   602       600             2       843       815
25    2013 11    1   603       600             3       717       711
26    2013 11    1   604       610            -6       855       855
27    2013 11    1   606       615            -9       746       750
28    2013 11    1   606       615            -9       807       817
29    2013 11    1   606       610            -4       752       745
30    2013 11    1   607       611            -4       857       912
<U+22EE>     <U+22EE> <U+22EE> <U+22EE> <U+22EE> <U+22EE>       <U+22EE>  <U+22EE> <U+22EE>
55374 2013 12    31  2155     2039            76        253     2355
55375 2013 12    31  2155     2150             5        110       51
55376 2013 12    31  2159     2155             4         55       46
55377 2013 12    31  2206     2110            56         44     2339
55378 2013 12    31  2211     2159            12        100       45
55379 2013 12    31  2218     2219            -1        315      304
55380 2013 12    31  2235     2245           -10       2351     2355
55381 2013 12    31  2245     2250            -5       2359     2356
55382 2013 12    31  2310     2255            15          7     2356
55383 2013 12    31  2321     2250            31         46        8
55384 2013 12    31  2328     2330            -2        412      409
55385 2013 12    31  2332     2245            47         58        3
55386 2013 12    31  2355     2359            -4        430      440
55387 2013 12    31  2356     2359            -3        436      445
55388 2013 12    31    NA     1520            NA         NA     1705
55389 2013 12    31    NA     2025            NA         NA     2205
55390 2013 12    31    NA     1932            NA         NA     2305
55391 2013 12    31    NA     1505            NA         NA     1725
55392 2013 12    31    NA     1000            NA         NA     1252
55393 2013 12    31    NA      840            NA         NA     1205
55394 2013 12    31    NA      754            NA         NA     1118
      arr_delay carrier flight tailnum origin dest air_time distance hour
1       7       B6       745   N568JB  JFK    PSE  205      1617     23
2      87       B6      1816   N353JB  JFK    SYR   36       209     22
3     -10       US      1895   N192UW  EWR    CLT   88       529      5
4      29       UA      1714   N38727  LGA    IAH  229      1416      5
5     -24       AA      2243   N5CLAA  JFK    MIA  147      1089      5
6     -11       UA       303   N595UA  JFK    SFO  359      2586      6
7       6       US      2167   N748UW  LGA    DCA   57       214      6
8      -2       US      2134   N742PS  LGA    BOS   40       184      6
9      -1       DL       563   N912DE  LGA    ATL  126       762      6
10     -2       DL       731   N315NB  LGA    DTW   93       502      6
11     -7       B6       605   N640JB  EWR    FLL  149      1065      6
12     -7       B6       583   N661JB  JFK    MCO  136       944      6
13    -14       B6      1403   N746JB  JFK    SJU  196      1598      6
14    -17       UA       407   N834UA  EWR    TPA  142       997      6
15     -3       UA       279   N459UA  EWR    ORD  118       719      6
16     -8       US      1909   N950UW  LGA    PHL   38        96      6
17      9       AA      1175   N3GHAA  LGA    MIA  155      1096      6
18      5       WN       464   N390SW  EWR    MDW  117       711      6
19     26       AA       301   N4YHAA  LGA    ORD  119       733      6
20     -7       EV      5716   N820AS  JFK    IAD   49       228      6
21      4       UA      1198   N23707  LGA    ORD  121       733      6
22     -3       B6       371   N570JB  LGA    FLL  150      1076      6
23    -10       DL      1919   N922DL  LGA    MSP  153      1020      6
24     28       FL       345   N353AT  LGA    ATL  131       762      6
25      6       EV      4533   N11109  EWR    BUF   53       282      6
26      0       AA      1103   N3FTAA  LGA    DFW  205      1389      6
27     -4       MQ      3525   N834MQ  LGA    RDU   74       431      6
28    -10       US      1899   N199UW  JFK    CLT   93       541      6
29      7       WN      2609   N440LV  LGA    STL  142       888      6
30    -15       B6       601   N597JB  JFK    FLL  149      1069      6
<U+22EE>     <U+22EE>  <U+22EE> <U+22EE> <U+22EE> <U+22EE> <U+22EE> <U+22EE> <U+22EE> <U+22EE>
55374  NA       B6      1205   N627JB  JFK    PDX   NA      2454     20
55375  19       B6      1901   N729JB  JFK    FLL  164      1069     21
55376   9       B6      2053   N593JB  JFK    PBI  155      1028     21
55377  65       B6       775   N184JB  JFK    MSY  195      1182     21
55378  15       B6      1183   N715JB  JFK    MCO  148       944     21
55379  11       B6      1203   N625JB  JFK    SJU  202      1598     22
55380  -4       B6       234   N355JB  JFK    BTV   49       266     22
55381   3       B6      1816   N318JB  JFK    SYR   51       209     22
55382  11       B6       718   N279JB  JFK    BOS   40       187     22
55383  38       B6      2002   N179JB  JFK    BUF   66       301     22
55384   3       B6      1389   N651JB  EWR    SJU  198      1608     23
55385  55       B6       486   N334JB  JFK    ROC   60       264     22
55386 -10       B6      1503   N509JB  JFK    SJU  195      1598     23
55387  -9       B6       745   N665JB  JFK    PSE  200      1617     23
55388  NA       AA       341   N568AA  LGA    ORD   NA       733     15
55389  NA       AA       371   N482AA  LGA    ORD   NA       733     20
55390  NA       B6       161   N516JB  JFK    SMF   NA      2521     19
55391  NA       EV      4181   N24103  EWR    MCI   NA      1092     15
55392  NA       UA      1124   NA      EWR    EGE   NA      1725     10
55393  NA       UA      1151   NA      EWR    SEA   NA      2402      8
55394  NA       UA      1455   NA      EWR    LAX   NA      2454      7
      minute time_hour
1     59     2013-11-01 23:00:00
2     50     2013-11-01 22:00:00
3      0     2013-11-01 05:00:00
4     45     2013-11-01 05:00:00
5     45     2013-11-01 05:00:00
6      0     2013-11-01 06:00:00
7      0     2013-11-01 06:00:00
8      0     2013-11-01 06:00:00
9      0     2013-11-01 06:00:00
10     0     2013-11-01 06:00:00
11     0     2013-11-01 06:00:00
12     0     2013-11-01 06:00:00
13     0     2013-11-01 06:00:00
14     0     2013-11-01 06:00:00
15     0     2013-11-01 06:00:00
16     0     2013-11-01 06:00:00
17     0     2013-11-01 06:00:00
18     0     2013-11-01 06:00:00
19     0     2013-11-01 06:00:00
20     0     2013-11-01 06:00:00
21     0     2013-11-01 06:00:00
22     0     2013-11-01 06:00:00
23    10     2013-11-01 06:00:00
24     0     2013-11-01 06:00:00
25     0     2013-11-01 06:00:00
26    10     2013-11-01 06:00:00
27    15     2013-11-01 06:00:00
28    15     2013-11-01 06:00:00
29    10     2013-11-01 06:00:00
30    11     2013-11-01 06:00:00
<U+22EE>     <U+22EE> <U+22EE>
55374 39     2013-12-31 20:00:00
55375 50     2013-12-31 21:00:00
55376 55     2013-12-31 21:00:00
55377 10     2013-12-31 21:00:00
55378 59     2013-12-31 21:00:00
55379 19     2013-12-31 22:00:00
55380 45     2013-12-31 22:00:00
55381 50     2013-12-31 22:00:00
55382 55     2013-12-31 22:00:00
55383 50     2013-12-31 22:00:00
55384 30     2013-12-31 23:00:00
55385 45     2013-12-31 22:00:00
55386 59     2013-12-31 23:00:00
55387 59     2013-12-31 23:00:00
55388 20     2013-12-31 15:00:00
55389 25     2013-12-31 20:00:00
55390 32     2013-12-31 19:00:00
55391  5     2013-12-31 15:00:00
55392  0     2013-12-31 10:00:00
55393 40     2013-12-31 08:00:00
55394 54     2013-12-31 07:00:00
 [ getOption("max.print") 에 도달했습니다 -- 9 행들을 생략합니다 ]

## arr_delay가 120이하이고 dep_delay가 120이하인 항곤편을 선택하고 싶다.

In [48]:
df %>% filter(arr_delay <= 120 & dep_delay <= 120)

       year month day dep_time sched_dep_time dep_delay arr_time sched_arr_time
1      2013 1     1   517      515             2         830      819
2      2013 1     1   533      529             4         850      830
3      2013 1     1   542      540             2         923      850
4      2013 1     1   544      545            -1        1004     1022
5      2013 1     1   554      600            -6         812      837
6      2013 1     1   554      558            -4         740      728
7      2013 1     1   555      600            -5         913      854
8      2013 1     1   557      600            -3         709      723
9      2013 1     1   557      600            -3         838      846
10     2013 1     1   558      600            -2         753      745
11     2013 1     1   558      600            -2         849      851
12     2013 1     1   558      600            -2         853      856
13     2013 1     1   558      600            -2         924      917
14     2013 1     1   558      600            -2         923      937
15     2013 1     1   559      600            -1         941      910
16     2013 1     1   559      559             0         702      706
17     2013 1     1   559      600            -1         854      902
18     2013 1     1   600      600             0         851      858
19     2013 1     1   600      600             0         837      825
20     2013 1     1   601      600             1         844      850
21     2013 1     1   602      610            -8         812      820
22     2013 1     1   602      605            -3         821      805
23     2013 1     1   606      610            -4         858      910
24     2013 1     1   606      610            -4         837      845
25     2013 1     1   607      607             0         858      915
26     2013 1     1   608      600             8         807      735
27     2013 1     1   611      600            11         945      931
28     2013 1     1   613      610             3         925      921
29     2013 1     1   615      615             0        1039     1100
30     2013 1     1   615      615             0         833      842
<U+22EE>      <U+22EE> <U+22EE> <U+22EE> <U+22EE> <U+22EE>       <U+22EE>  <U+22EE> <U+22EE>
316021 2013 9     30  2110     2055            15         51     2359
316022 2013 9     30  2114     2025            49       2304     2228
316023 2013 9     30  2115     2110             5       2246     2255
316024 2013 9     30  2116     2124            -8       2317     2337
316025 2013 9     30  2119     2005            74       2310     2212
316026 2013 9     30  2119     2120            -1       2330     2354
316027 2013 9     30  2121     2100            21       2349       14
316028 2013 9     30  2122     2127            -5       2226     2237
316029 2013 9     30  2123     2125            -2       2223     2247
316030 2013 9     30  2127     2129            -2       2314     2323
316031 2013 9     30  2128     2130            -2       2328     2359
316032 2013 9     30  2129     2059            30       2230     2232
316033 2013 9     30  2131     2140            -9       2225     2255
316034 2013 9     30  2140     2140             0         10       40
316035 2013 9     30  2142     2129            13       2250     2239
316036 2013 9     30  2145     2145             0        115      140
316037 2013 9     30  2147     2137            10         30       27
316038 2013 9     30  2149     2156            -7       2245     2308
316039 2013 9     30  2150     2159            -9       2250     2306
316040 2013 9     30  2203     2205            -2       2339     2331
316041 2013 9     30  2207     2140            27       2257     2250
       arr_delay carrier flight tailnum origin dest air_time distance hour
1       11       UA      1545   N14228  EWR    IAH  227      1400     5
2       20       UA      1714   N24211  LGA    IAH  227      1416     5
3       33       AA      1141   N619AA  JFK    MIA  160      1089     5
4      -18       B6       725   N804JB  JFK    BQN  183      1576     5
5      -25       DL       461   N668DN  LGA    ATL  116       762     6
6       12       UA      1696   N39463  EWR    ORD  150       719     5
7       19       B6       507   N516JB  EWR    FLL  158      1065     6
8      -14       EV      5708   N829AS  LGA    IAD   53       229     6
9       -8       B6        79   N593JB  JFK    MCO  140       944     6
10       8       AA       301   N3ALAA  LGA    ORD  138       733     6
11      -2       B6        49   N793JB  JFK    PBI  149      1028     6
12      -3       B6        71   N657JB  JFK    TPA  158      1005     6
13       7       UA       194   N29129  JFK    LAX  345      2475     6
14     -14       UA      1124   N53441  EWR    SFO  361      2565     6
15      31       AA       707   N3DUAA  LGA    DFW  257      1389     6
16      -4       B6      1806   N708JB  JFK    BOS   44       187     5
17      -8       UA      1187   N76515  EWR    LAS  337      2227     6
18      -7       B6       371   N595JB  LGA    FLL  152      1076     6
19      12       MQ      4650   N542MQ  LGA    ATL  134       762     6
20      -6       B6       343   N644JB  EWR    PBI  147      1023     6
21      -8       DL      1919   N971DL  LGA    MSP  170      1020     6
22      16       MQ      4401   N730MQ  LGA    DTW  105       502     6
23     -12       AA      1895   N633AA  EWR    MIA  152      1085     6
24      -8       DL      1743   N3739P  JFK    ATL  128       760     6
25     -17       UA      1077   N53442  EWR    MIA  157      1085     6
26      32       MQ      3768   N9EAMQ  EWR    ORD  139       719     6
27      14       UA       303   N532UA  JFK    SFO  366      2586     6
28       4       B6       135   N635JB  JFK    RSW  175      1074     6
29     -21       B6       709   N794JB  JFK    SJU  182      1598     6
30      -9       DL       575   N326NB  EWR    ATL  120       746     6
<U+22EE>      <U+22EE>  <U+22EE> <U+22EE> <U+22EE> <U+22EE> <U+22EE> <U+22EE> <U+22EE> <U+22EE>
316021  52       B6      1205   N517JB  JFK    PDX  361      2454     20
316022  36       EV      4348   N11184  EWR    MSP  145      1008     20
316023  -9       MQ      3603   N519MQ  LGA    DTW   72       502     21
316024 -20       EV      4682   N14542  EWR    SDF   94       642     21
316025  58       EV      4321   N17984  EWR    MCI  147      1092     20
316026 -24       B6      1677   N358JB  JFK    JAX  113       828     21
316027 -25       DL      2363   N193DN  JFK    LAX  296      2475     21
316028 -11       EV      4372   N14902  EWR    DCA   35       199     21
316029 -24       EV      5489   N712EV  LGA    CHO   45       305     21
316030  -9       EV      3833   N16546  EWR    CLT   72       529     21
316031 -31       B6        97   N807JB  JFK    DEN  213      1626     21
316032  -2       EV      5048   N751EV  LGA    RIC   45       292     20
316033 -30       MQ      3621   N807MQ  JFK    DCA   36       213     21
316034 -30       AA       185   N335AA  JFK    LAX  298      2475     21
316035  11       EV      4509   N12957  EWR    PWM   47       284     21
316036 -25       B6      1103   N633JB  JFK    SJU  192      1598     21
316037   3       B6      1371   N627JB  LGA    FLL  139      1076     21
316038 -23       UA       523   N813UA  EWR    BOS   37       200     21
316039 -16       EV      3842   N10575  EWR    MHT   39       209     21
316040   8       EV      5311   N722EV  LGA    BGR   61       378     22
316041   7       MQ      3660   N532MQ  LGA    BNA   97       764     21
       minute time_hour
1      15     2013-01-01 05:00:00
2      29     2013-01-01 05:00:00
3      40     2013-01-01 05:00:00
4      45     2013-01-01 05:00:00
5       0     2013-01-01 06:00:00
6      58     2013-01-01 05:00:00
7       0     2013-01-01 06:00:00
8       0     2013-01-01 06:00:00
9       0     2013-01-01 06:00:00
10      0     2013-01-01 06:00:00
11      0     2013-01-01 06:00:00
12      0     2013-01-01 06:00:00
13      0     2013-01-01 06:00:00
14      0     2013-01-01 06:00:00
15      0     2013-01-01 06:00:00
16     59     2013-01-01 05:00:00
17      0     2013-01-01 06:00:00
18      0     2013-01-01 06:00:00
19      0     2013-01-01 06:00:00
20      0     2013-01-01 06:00:00
21     10     2013-01-01 06:00:00
22      5     2013-01-01 06:00:00
23     10     2013-01-01 06:00:00
24     10     2013-01-01 06:00:00
25      7     2013-01-01 06:00:00
26      0     2013-01-01 06:00:00
27      0     2013-01-01 06:00:00
28     10     2013-01-01 06:00:00
29     15     2013-01-01 06:00:00
30     15     2013-01-01 06:00:00
<U+22EE>      <U+22EE> <U+22EE>
316021 55     2013-09-30 20:00:00
316022 25     2013-09-30 20:00:00
316023 10     2013-09-30 21:00:00
316024 24     2013-09-30 21:00:00
316025  5     2013-09-30 20:00:00
316026 20     2013-09-30 21:00:00
316027  0     2013-09-30 21:00:00
316028 27     2013-09-30 21:00:00
316029 25     2013-09-30 21:00:00
316030 29     2013-09-30 21:00:00
316031 30     2013-09-30 21:00:00
316032 59     2013-09-30 20:00:00
316033 40     2013-09-30 21:00:00
316034 40     2013-09-30 21:00:00
316035 29     2013-09-30 21:00:00
316036 45     2013-09-30 21:00:00
316037 37     2013-09-30 21:00:00
316038 56     2013-09-30 21:00:00
316039 59     2013-09-30 21:00:00
316040  5     2013-09-30 22:00:00
316041 40     2013-09-30 21:00:00
 [ getOption("max.print") 에 도달했습니다 -- 9 행들을 생략합니다 ]

## 필요한 변수만 남기고 싶다.

In [49]:
df %>% colnames

 [1] "year"           "month"          "day"            "dep_time"
 [5] "sched_dep_time" "dep_delay"      "arr_time"       "sched_arr_time"
 [9] "arr_delay"      "carrier"        "flight"         "tailnum"
[13] "origin"         "dest"           "air_time"       "distance"
[17] "hour"           "minute"         "time_hour"

In [50]:
df %>% names

 [1] "year"           "month"          "day"            "dep_time"
 [5] "sched_dep_time" "dep_delay"      "arr_time"       "sched_arr_time"
 [9] "arr_delay"      "carrier"        "flight"         "tailnum"
[13] "origin"         "dest"           "air_time"       "distance"
[17] "hour"           "minute"         "time_hour"

- 아래 조건에 부합하는 변수만 남기자.

`-` year~day는 포함

`-` delay로 끝나는 변수

`-` distance, air_time

In [51]:
df = df %>% select(year:day , ends_with('delay'), distance, air_time)
df

       year month day dep_delay arr_delay distance air_time
1      2013 1     1    2         11       1400     227
2      2013 1     1    4         20       1416     227
3      2013 1     1    2         33       1089     160
4      2013 1     1   -1        -18       1576     183
5      2013 1     1   -6        -25        762     116
6      2013 1     1   -4         12        719     150
7      2013 1     1   -5         19       1065     158
8      2013 1     1   -3        -14        229      53
9      2013 1     1   -3         -8        944     140
10     2013 1     1   -2          8        733     138
11     2013 1     1   -2         -2       1028     149
12     2013 1     1   -2         -3       1005     158
13     2013 1     1   -2          7       2475     345
14     2013 1     1   -2        -14       2565     361
15     2013 1     1   -1         31       1389     257
16     2013 1     1    0         -4        187      44
17     2013 1     1   -1         -8       2227     337
18     2013 1     1    0         -7       1076     152
19     2013 1     1    0         12        762     134
20     2013 1     1    1         -6       1023     147
21     2013 1     1   -8         -8       1020     170
22     2013 1     1   -3         16        502     105
23     2013 1     1   -4        -12       1085     152
24     2013 1     1   -4         -8        760     128
25     2013 1     1    0        -17       1085     157
26     2013 1     1    8         32        719     139
27     2013 1     1   11         14       2586     366
28     2013 1     1    3          4       1074     175
29     2013 1     1    0        -21       1598     182
30     2013 1     1    0         -9        746     120
<U+22EE>      <U+22EE> <U+22EE> <U+22EE> <U+22EE>  <U+22EE>  <U+22EE> <U+22EE>
336747 2013 9     30   -2       -24        305      45
336748 2013 9     30   -2        -9        529      72
336749 2013 9     30   -2       -31       1626     213
336750 2013 9     30   30        -2        292      45
336751 2013 9     30   -9       -30        213      36
336752 2013 9     30    0       -30       2475     298
336753 2013 9     30   13        11        284      47
336754 2013 9     30    0       -25       1598     192
336755 2013 9     30   10         3       1076     139
336756 2013 9     30   -7       -23        200      37
336757 2013 9     30   -9       -16        209      39
336758 2013 9     30  194       194        301      50
336759 2013 9     30   -2         8        378      61
336760 2013 9     30   27         7        764      97
336761 2013 9     30   72        57        872     120
336762 2013 9     30  -14       -21        273      48
336763 2013 9     30   80        42       2565     318
336764 2013 9     30  154       130        944     123
336765 2013 9     30   -8        -8        266      43
336766 2013 9     30   -5       -17        209      41
336767 2013 9     30  -10       -20        301      52
336768 2013 9     30   -5       -16        264      47
336769 2013 9     30   12         1        187      33
336770 2013 9     30  -10       -25       1617     196
336771 2013 9     30   NA        NA        764      NA
336772 2013 9     30   NA        NA        213      NA
336773 2013 9     30   NA        NA        198      NA
336774 2013 9     30   NA        NA        764      NA
336775 2013 9     30   NA        NA        419      NA
336776 2013 9     30   NA        NA        431      NA

## gain, speed를 계산하고 싶다.

- 아래의 수식을 시용하여 gain, speed를 계산하자.

`-` gain = dep_delay - arr_delay

`-` speed = distance / air_time

In [52]:
df = df %>% 
mutate(gain= dep_delay-arr_delay, speed= distance / air_time)
print(df)

# A tibble: 336,776 x 9
    year month   day dep_delay arr_delay distance air_time  gain speed
   <int> <int> <int>     <dbl>     <dbl>    <dbl>    <dbl> <dbl> <dbl>
 1  2013     1     1         2        11     1400      227    -9  6.17
 2  2013     1     1         4        20     1416      227   -16  6.24
 3  2013     1     1         2        33     1089      160   -31  6.81
 4  2013     1     1        -1       -18     1576      183    17  8.61
 5  2013     1     1        -6       -25      762      116    19  6.57
 6  2013     1     1        -4        12      719      150   -16  4.79
 7  2013     1     1        -5        19     1065      158   -24  6.74
 8  2013     1     1        -3       -14      229       53    11  4.32
 9  2013     1     1        -3        -8      944      140     5  6.74
10  2013     1     1        -2         8      733      138   -10  5.31
# ... with 336,766 more rows

## mean_gain, mean_speed를 계산하고 싶다.

In [53]:
df %>% 
select(year:day, ends_with("delay"), distance, air_time) %>%
mutate(gain= dep_delay-arr_delay, speed= distance / air_time) %>%
group_by(year, month, day) %>%
summarise(mean_gain = mean(gain), mean_speed = mean(speed))

`summarise()` has grouped output by 'year', 'month'. You can override using the `.groups` argument.

    year month day mean_gain mean_speed
1   2013 1      1  NA        NA
2   2013 1      2  NA        NA
3   2013 1      3  NA        NA
4   2013 1      4  NA        NA
5   2013 1      5  NA        NA
6   2013 1      6  NA        NA
7   2013 1      7  NA        NA
8   2013 1      8  NA        NA
9   2013 1      9  NA        NA
10  2013 1     10  NA        NA
11  2013 1     11  NA        NA
12  2013 1     12  NA        NA
13  2013 1     13  NA        NA
14  2013 1     14  NA        NA
15  2013 1     15  NA        NA
16  2013 1     16  NA        NA
17  2013 1     17  NA        NA
18  2013 1     18  NA        NA
19  2013 1     19  NA        NA
20  2013 1     20  NA        NA
21  2013 1     21  NA        NA
22  2013 1     22  NA        NA
23  2013 1     23  NA        NA
24  2013 1     24  NA        NA
25  2013 1     25  NA        NA
26  2013 1     26  NA        NA
27  2013 1     27  NA        NA
28  2013 1     28  NA        NA
29  2013 1     29  NA        NA
30  2013 1     30  NA        NA
<U+22EE>   <U+22EE> <U+22EE> <U+22EE> <U+22EE>  <U+22EE>
336 2013 12     2  NA        NA
337 2013 12     3  NA        NA
338 2013 12     4  NA        NA
339 2013 12     5  NA        NA
340 2013 12     6  NA        NA
341 2013 12     7  NA        NA
342 2013 12     8  NA        NA
343 2013 12     9  NA        NA
344 2013 12    10  NA        NA
345 2013 12    11  NA        NA
346 2013 12    12  NA        NA
347 2013 12    13  NA        NA
348 2013 12    14  NA        NA
349 2013 12    15  NA        NA
350 2013 12    16  NA        NA
351 2013 12    17  NA        NA
352 2013 12    18  NA        NA
353 2013 12    19  NA        NA
354 2013 12    20  NA        NA
355 2013 12    21  NA        NA
356 2013 12    22  NA        NA
357 2013 12    23  NA        NA
358 2013 12    24  NA        NA
359 2013 12    25  NA        NA
360 2013 12    26  NA        NA
361 2013 12    27  NA        NA
362 2013 12    28  NA        NA
363 2013 12    29  NA        NA
364 2013 12    30  NA        NA
365 2013 12    31  NA        NA

- NA가 출력되는 것을 보니 데이터 중에 결측치가 존재했던 것 같다.

- `na.rm=TRUE`를 사용하자.

In [54]:
df %>% 
select(year:day, ends_with("delay"), distance, air_time) %>%
mutate(gain= dep_delay-arr_delay, speed= distance / air_time) %>%
group_by(year, month, day) %>%
summarise(mean_gain = mean(gain, na.rm=TRUE),
          mean_speed = mean(speed, na.rm=TRUE))

`summarise()` has grouped output by 'year', 'month'. You can override using the `.groups` argument.

    year month day mean_gain   mean_speed
1   2013 1      1  -1.2154031  5.956879
2   2013 1      2   0.9849138  6.085977
3   2013 1      3   5.1744444  6.163061
4   2013 1      4  10.8986784  6.389652
5   2013 1      5   7.2580195  6.259174
6   2013 1      6   2.9095296  6.146544
7   2013 1      7  10.3645161  6.488469
8   2013 1      8   5.7858744  6.215331
9   2013 1      9   2.5655095  6.021767
10  2013 1     10   8.7438105  6.375353
11  2013 1     11   7.5954198  6.326487
12  2013 1     12  14.6093979  6.613691
13  2013 1     13   4.6877323  6.353392
14  2013 1     14  -0.8418202  6.018617
15  2013 1     15  -0.3019296  5.918271
16  2013 1     16  -9.7924971  5.819344
17  2013 1     17   1.1923497  5.923112
18  2013 1     18   4.9263736  6.207338
19  2013 1     19  11.8882265  6.340853
20  2013 1     20   3.0640205  6.098927
21  2013 1     21   1.5232816  5.911828
22  2013 1     22   0.2225989  5.966793
23  2013 1     23   3.6925676  6.081496
24  2013 1     24   4.1156388  6.305144
25  2013 1     25  -5.3469852  6.177677
26  2013 1     26   6.4619970  6.342779
27  2013 1     27   9.6972705  6.371808
28  2013 1     28   5.7794632  6.288730
29  2013 1     29   9.1047181  6.297918
30  2013 1     30   2.0226131  6.072084
<U+22EE>   <U+22EE> <U+22EE> <U+22EE> <U+22EE>    <U+22EE>
336 2013 12     2    8.6172345 6.538165
337 2013 12     3    3.7637306 6.385837
338 2013 12     4    5.5354497 6.374694
339 2013 12     5    0.7886279 6.315847
340 2013 12     6   -4.9424779 6.088300
341 2013 12     7   -0.5210210 6.083830
342 2013 12     8  -16.0335404 6.015119
343 2013 12     9   -7.9688889 5.927017
344 2013 12    10  -18.0433018 5.851833
345 2013 12    11   -3.8292683 5.854563
346 2013 12    12    2.1491137 6.257818
347 2013 12    13    5.0612669 6.276367
348 2013 12    14  -19.4046346 6.257517
349 2013 12    15    3.6813725 6.167540
350 2013 12    16    4.1434555 6.232667
351 2013 12    17  -15.1005988 6.380989
352 2013 12    18    2.9474790 6.464964
353 2013 12    19    7.1438923 6.458775
354 2013 12    20    3.3555094 6.272395
355 2013 12    21    7.8052434 6.465150
356 2013 12    22    5.2189616 6.320959
357 2013 12    23    0.1666667 6.193496
358 2013 12    24    7.8098404 6.363875
359 2013 12    25    9.4517483 6.478628
360 2013 12    26    7.2430108 6.349989
361 2013 12    27   11.1061394 6.442939
362 2013 12    28   11.2410824 6.555790
363 2013 12    29    3.3479263 6.365616
364 2013 12    30    0.6526758 6.115099
365 2013 12    31    0.6930171 6.139908

# 과제

## Problem

강화유리와 유리를 구분할 수 있는 유리 장인이 있다.

이 유리장인은 80%의 확률로 강화유리를 고른다.

총 10명의 참가자가 있고 이 참가자들은 유리와 강화유리의 조합으로 이루어진 징검다리를 5번 연속으로 건너야 한다.

아래의 경우에 참가자들은 총 몇명이 살아남는가? 1000번의 시뮬레이션을 하여 추정하라.

`-` 첫 번째 경우

일반인1 - 일반인2 - $\dots$ - 일반인9 - 유리장인||(유리, 강화유리)

`-` 두 번째 경우

유리장인 - 일반인1 - 일반인2 - $\dots$ - 일반인9||(유리, 강화유리)

## Solution I

- 뒤에 있는 5명은 항상 살아남는다.

- 따라서 생존자 = 1번 ~ 5번주자 중 생존자 + 5

`-` 첫 번째 경우

In [47]:
rslt = c()
A = rbinom(1000,size=5,prob=0.8)
B = rbinom(1000,size=4,prob=0.5)
for (i in 1:length(B)) rslt[i] = 4*mean(sum(B>=5-A[i]))/1000 + 5
rslt%>%mean

[1] 8.52672

- 약 8.5명이 생존한다.

`-` 두 번째 경우

In [164]:
(rbinom(1000,size=5,prob=0.5) %>% mean) + 5

[1] 7.524

- 약 7.5명이 생존한다.

In [56]:
rslt = c()
for (a in 1:1000){
    mat = cbind(rep(TRUE, 5), rep(0, 5))
    
    colnames(mat) = c("최종 생존 여부", "성공 횟수")
    mat = as_tibble(mat)
    for (i in 1:5){
        try = 1
        scc = 0
        while (try == 1){
            if (sum(mat[,2]) >=5) break
            try = sample(c(0,1), size = 1)
            if (try == 1){ #생존
                mat[i,2] = mat[i,2] + 1
            }
            else if(try == 0){ #사망
                mat[i,1] = 0
                mat[i,2] = mat[i,2] + 1
            }
        }
    }
    rslt[a] = sum(mat[,1])
}
mean(rslt) + 5

[1] 7.48

In [58]:
rslt = c()
for (a in 1:1000){
    mat = cbind(rep(TRUE, 5), rep(0, 5))
    mat = as_tibble(mat)
    for (i in 1:5){
        try = 1
        scc = 0
        while (try == 1){
            if (sum(mat[,2]) >= 5) break
            if (i == 1) try = sample(c(0,1), size = 1, prob = c(2,8))
            else try = sample(c(0,1), size = 1, prob = c(5,5))
            
            mat[i,2] = mat[i,2] + 1
            if(try == 0) mat[i,1] = 0
        }
    }
    rslt[a] = sum(mat[,1])
}
mean(rslt) + 5

[1] 8.5

## Solution II

### 장인이 맨 앞에 있는 경우

`-` 10명이 생존할 확률

- 장인이 모두 성공$0.8^5$

`-` 9명이 생존할 확률

- 장인이 1번째에서 탈락 $=0.8^0 \times 0.2^1 \times 0.5^4$

- 장인이 2번째에서 탈락 $=0.8^1 \times 0.2^1 \times 0.5^3$

- 장인이 3번째에서 탈락 $=0.8^2 \times 0.2^1 \times 0.5^2$
 
- 장인이 4번째에서 탈락 $=0.8^3 \times 0.2^1 \times 0.5^1$

- 장인이 5번째에서 탈락 $=0.8^4 \times 0.2^1 \times 0.5^0$

`-` 8명이 생존할 확률

- 장인이 1번째에서 탈락 $=4 \times0.8^0 \times 0.2^1 \times 0.5^4$

    - 일반인이 2번째에서 탈락 $=0.8^0 \times 0.2^1 \times 0.5^4$
    
    - 일반인이 3번째에서 탈락 $=0.8^0 \times 0.2^1 \times 0.5^4$
    - 일반인이 4번째에서 탈락 $=0.8^0 \times 0.2^1 \times 0.5^4$
    - 일반인이 5번째에서 탈락 $=0.8^0 \times 0.2^1 \times 0.5^4$

- 장인이 2번째에서 탈락 $=3 \times0.8^1 \times 0.2^1 \times 0.5^3$

    - 일반인이 3번째에서 탈락 $=0.8^1 \times 0.2^1 \times 0.5^3$
    - 일반인이 4번째에서 탈락 $=0.8^1 \times 0.2^1 \times 0.5^3$
    - 일반인이 5번째에서 탈락 $=0.8^1 \times 0.2^1 \times 0.5^3$

- 장인이 3번째에서 탈락 $=3\times 0.8^2 \times 0.2^1 \times 0.5^2$ 

    - 일반인이 4번째에서 탈락 $=0.8^2 \times 0.2^1 \times 0.5^2$  
    
    - 일반인이 5번째에서 탈락 $=0.8^2 \times 0.2^1 \times 0.5^2$

  
- 장인이 4번째에서 탈락 $=1\times0.8^2 \times 0.2^1 \times 0.5^1$

    - 일반인이 5번째에서 탈락 $=0.8^2 \times 0.2^1 \times 0.5^1$

`-` 7명이 생존할 확률

- 장인이 1번째에서 탈락 $= choose(4, 2) \times0.8^0 \times 0.2^1 \times 0.5^4$

    - 일반인이 2, 3번째에서 탈락 $=0.8^0 \times 0.2^1 \times 0.5^4$
    - 일반인이 2, 4번째에서 탈락 $=0.8^0 \times 0.2^1 \times 0.5^4$
    - 일반인이 2, 5번째에서 탈락 $=0.8^0 \times 0.2^1 \times 0.5^4$
    - 일반인이 3, 4번째에서 탈락 $=0.8^0 \times 0.2^1 \times 0.5^4$
    - 일반인이 3, 5번째에서 탈락 $=0.8^0 \times 0.2^1 \times 0.5^4$
    - 일반인이 4, 5번째에서 탈락 $=0.8^0 \times 0.2^1 \times 0.5^4$

- 장인이 2번째에서 탈락 $= choose(3,2)\times0.8^1 \times 0.2^1 \times 0.5^3$

    - 일반인이 3, 4번째에서 탈락 $=0.8^1 \times 0.2^1 \times 0.5^3$
    - 일반인이 3, 5번째에서 탈락 $=0.8^1 \times 0.2^1 \times 0.5^3$
    - 일반인이 4, 5번째에서 탈락 $=0.8^1 \times 0.2^1 \times 0.5^3$

- 장인이 3번째에서 탈락 $=choose(2,2)\times 0.8^2 \times 0.2^1 \times 0.5^2$ 

    - 일반인이 4, 5번째에서 탈락 $=0.8^2 \times 0.2^1 \times 0.5^2$

`-` 6명이 생존할 확률 


- 장인이 1번째에서 탈락 $= choose(4, 3) \times0.8^0 \times 0.2^1 \times 0.5^4$

- 장인이 2번째에서 탈락 $= choose(3,3)\times0.8^1 \times 0.2^1 \times 0.5^3$

`-` 5명이 생존할 확률 $=0.2\times0.5^4$

## Solution III

In [14]:
# 10명
0.8 ^ 5

[1] 0.32768

In [15]:
# 9명

surv9_prob = c()
for (i in 0:4) surv9_prob[i+1] = 0.8^i * 0.2 * 0.5^(4-i)
sum(surv9_prob)

[1] 0.19762

In [16]:
# 8명
surv8_prob = c()
for(i in 0:3) surv8_prob[i+1] = choose(4-i, 1) * 0.8^i * 0.2 * 0.5^(4-i)
sum(surv8_prob)

[1] 0.2252

In [17]:
# 7명
surv7_prob = c()
for(i in 0:2) surv7_prob[i+1] = choose(4-i, 2) * 0.8^i * 0.2 * 0.5^(4-i)
sum(surv7_prob)

[1] 0.167

In [18]:
# 6명
surv6_prob = c()
for(i in 0:1) surv6_prob[i+1] = choose(4-i, 3) * 0.8^i * 0.2 * 0.5^(4-i)
sum(surv6_prob)

[1] 0.07

In [23]:
# 5명
surv5_prob = c()
for(i in 0:0) surv5_prob[i+1] = choose(4-i, 4) * 0.8^i * 0.2 * 0.5^(4-i)
sum(surv5_prob)

[1] 0.0125

- 확률의 총 합은 1이 되어야 한다.

In [22]:
0.8^5+ 
sum(surv9_prob)+ 
sum(surv8_prob)+
sum(surv7_prob)+
sum(surv6_prob)+
sum(surv5_prob)

[1] 1

- 평균을 구하자

In [24]:
0.8^5 *10+ 
sum(surv9_prob) *9+ 
sum(surv8_prob) *8+
sum(surv7_prob) *7+
sum(surv6_prob) *6+
sum(surv5_prob) *5

[1] 8.50848

In [55]:
saves = c()
for (j in 1:1000){
    rslt = c()
    A = rbinom(1000,size=5,prob=0.8)
    B = rbinom(1000,size=4,prob=0.5)
    for (i in 1:length(B)) rslt[i] = 4*mean(sum(B>=5-A[i]))/1000 + 5
    saves[j] = mean(rslt) 
}
saves %>% mean

[1] 8.47559